#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/*  header */

.pp_photographers{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_pp_photographers{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.img_pp_photographers img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    max-width: 155%;
}

.pCity__pp_photographers{
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*  main */

.img_photographers{
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.img_photographers img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    max-width: 155%;
}
/* lightbox */

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: lightboxIn .5s;
}

.lightbox__container_all{
    position: relative;
    width: 90%;
    height: 90%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox__next, 
.lightbox__prev{
    position: absolute;
    border:none;
    background: url(../assets/icons/arrow.svg) center center / 100% 100%;
    width: 30px;
    height: 48px;
    position: absolute;
    top: 50%;
    right: 34px;
    z-index: 11;
    cursor: pointer;
}

.lightbox__prev{
    right: auto;
    left: 34px;
    transform: rotate(180deg);
}

.lightbox__close{
    position: absolute;
    border:none;
    background: url(../assets/icons/close.svg) center center / 100% 100%;
    width: 42px;
    height: 42px;
    top: 15px;
    right: 15px;
    z-index: 11;
    cursor: pointer;
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:yellow;
    height: 100%;
}

.lightbox_image{
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.lightbox_image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    animation: lightboxIn .5s;
}

.lightbox_text{
    height: 10%;
    width: 100%;
}

.title_image{
    color: #901C1C;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}