@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}


.pp_photographer > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_pp_photographer{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.img_pp_photographer img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    max-width: 155%;
}

a{
    text-decoration: none;
}

.pCity__pp_photographer{
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pPrice__pp_photographer{
    color:darkgray;
    margin-top: 10px;
}

